.hidden {
  display: none; }

body {
  overflow-x: hidden;
  font-family: "RobotoSlab-Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  color: #555;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
  body input,
  body textarea,
  body button {
    outline: none; }
  body a {
    outline: none !important; }

header {
  background-image: url("../img/header_bg.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  position: relative;
  min-height: 620px; }
  header .btn_dwn {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.05);
    bottom: 0;
    font-size: 20px;
    left: 0;
    width: 100%;
    height: 50px;
    border: none;
    z-index: 1; }
    header .btn_dwn:hover {
      background-color: rgba(255, 255, 255, 0.3); }

.bg_box {
  background-color: rgba(49, 50, 55, 0.8);
  position: absolute;
  width: 100%;
  min-height: 620px;
  display: table; }
  .bg_box .header_title {
    display: table-row; }
    .bg_box .header_title .inner_title {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }

h2 {
  text-transform: uppercase; }

h3 {
  margin: 0; }

.s_main {
  padding: 100px 0;
  background-color: #FAFAFA; }
  .s_main .section_header {
    text-align: center; }

.item {
  text-align: center;
  padding: 10px !important; }
  .item .descr_item {
    border: #BABABA 1px solid;
    padding: 20px; }
    .item .descr_item a {
      text-decoration: none;
      padding: 5px;
      color: #fff;
      background-color: #313237; }

.user_wrapper .user_inf_wrap {
  border: #313237 1px solid;
  color: #313237;
  padding: 10px; }

.user_wrapper .dark {
  background-color: #313237;
  color: #fff; }

.user_wrapper h3 {
  text-transform: uppercase;
  font-size: 17px; }
  .user_wrapper h3 span {
    font-size: 22px;
    margin-right: 5px; }

.user_wrapper p span {
  font-weight: bold; }
