<!DOCTYPE html>
<html lang="ru" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>My Application</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/fonts.css">


</head>
<body ng-controller="UserListCtrl">
	<header resize-detector>
		<div class="bg_box" resize-detector>
			<div class="header_title">
				<div class="inner_title">
					<h1>Test angular-application</h1>
					<p>please click on the button below</p>
				</div>
				
			</div>

		</div>
		<button class="btn_dwn" ng-click="clickToShowHeader()">⇧</button>
	</header>
	<section class="s_main">
		<button class="btn_up" ng-click="clickToShowHeader()">⇩</button>
		
		<div class="section_header">
			<h2>List of users</h2>
			<form id="search_form">
				<label>Filter: </label>
				<input type="text"  placeholder="enter the user name..." ng-model="search">
			</form>
		</div>

		<div class="list_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6 item" ng-repeat="user in users | filter: {name: search}">
						<div class="descr_item">
							<h3>{{user.name}}</h3>
							<p>{{user.address.city}}</p>
							<div class="btn_view btn"  ng-click="clickToShowPopUp(user.id)">View &raquo;</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<user-pop-up></user-pop-up>

	</section>
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-resource/angular-resource.min.js"></script>
	<script src="js/modules.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/factories.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>