<div class="popup_bg" ng-show="showPopUp" ng-repeat="user in users | filter: {id: userId}" >
	<div class="user_popup_content" >
		<button class="btn_close" ng-click="closePopUp()">╳</button>
		<h2>{{user.name}} ({{user.username}})</h2>
	
	<div class="user_inf_item">
		<h3><span><i class="fa fa-mobile" aria-hidden="true"></i></span>contact information:</h3>
		<p><span>Email</span>: {{user.email}}</p>
		<p><span>Phone</span>: {{user.phone}}</p>
		<p><span>Web-site</span>: {{user.website}}</p>
	</div>

	<div class="user_inf_item dark">
		<h3><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Address:</h3>
		<p><span>Street</span>: {{user.address.street}}</p>
		<p><span>Suite</span>: {{user.address.suite}}</p>
		<p><span>City</span>: {{user.address.city}}</p>
		<p><span>Zipcode</span>: {{user.address.zipcode}}</p>
		<p><span>GEO</span>: lat: {{user.address.geo.lat}}, lng: {{user.address.geo.lng}}</p>
	</div>

	<div class="user_inf_item">
		<h3><span><i class="fa fa-building-o" aria-hidden="true"></i></span>company:</h3>
		<p><span>Name</span>: {{user.company.name}}</p>
		<p><span>Catch Phrase</span>: {{user.company.catchPhrase}}</p>
		<p><span>BS</span>: {{user.company.bs}}</p>
	</div>
	</div>

	
	
</div>
